{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}



{% block notice %}
{{ parent() }}


<div id="alertmsgajax" class="alert alert-block" style="display:none"><div id="alertmsgajaxtxt"
     style="margin:0px;background:url('/bundles/iphpcore/images/loading.gif') no-repeat 0px 5px; padding-left:25px">Сохранение изменений</div></div>
{% endblock %}


{# фильтры не нужны #}
{% block list_filters %}
{% endblock list_filters %}

{% block list_table %}

<script src="/bundles/iphptree/nestedsort.js"></script>

  {% set batchactions = admin.batchactions %}

  {% if treeIterator.count > 0 %}


    <style>

		ol.sortable, ol.sortable ol {
			margin: 0 0 0 25px;
			padding: 0;
			list-style-type: none;
		}

       .placeholder { background-color: #cfcfcf; }
       ol.sortable li { padding-bottom:0px;}

       .sortable  div { width:100%; cursor: move;margin:0px;padding:0px;}
       .trtable { width:100%; border-collapse: collapse;   border:1px solid #DDD;  }
       .trtable tr td { border: 1px solid #DDD; padding:3px}
       .sonata-ba-list-field-batch  { width:30px}
       .sonata-bc li { line-height: 0px;  }
       .sonata-bc table { margin-bottom: 1px} /* Изначально 18*/
    </style>

    <form action="{{ admin.generateUrl('batch', admin.filterParameters) }}" method="POST" >

    {% block table_body %}
      {% macro nodeOutput (wrappedNode,admin) %}
        <li class="nodeLi" id="#node{{ wrappedNode.id }}">
          <div>
           <table class="trtable"><tr>
               {% for field_description in admin.list.elements %}
                   {{ wrappedNode.node|render_list_element(field_description) }}
                {% endfor %}
              </tr></table>
          </div>
         {% if (wrappedNode.hasChildren) %}
          <ol>
           {% for subnode in wrappedNode.children %}
             {{ _self.nodeOutput(subnode,admin)}}
           {% endfor %}
          </ol>
         {% endif%}
        </li>
      {% endmacro %}


     {% set rootWrappedNode =   treeIterator.current%}
     <table class="trtable"><tr>
         {% for field_description in admin.list.elements %}
                           {{ rootWrappedNode.node|render_list_element(field_description) }}
         {% endfor %}
      </tr></table>

      <ol class="sortable">
      {% for wrappedNode in rootWrappedNode.children %}
        {{ _self.nodeOutput(wrappedNode,admin)}}
      {% endfor %}
      </ol>
    {% endblock %}

    {% block tree_footer %}
               <!-- футер (пагинация?)-->
    {% endblock tree_footer %}


            {% if batchactions|length > 0%}
                <script type="text/javascript">
                    jQuery(document).ready(function($){
                       $('#list_batch_checkbox').click(function(){
                           $(this).closest('table').find("td input[type='checkbox']").attr('checked', $(this).is(':checked'));
                       });
                       $('.delete_link').click(function(e){
                          if (!confirm('{% trans from 'SonataAdminBundle' %}confirm_msg{% endtrans %}')) e.preventDefault();
                       });
                    });
                </script>

                <div class="actions sonata-ba-list-actions">
                    <select name="action">
                        {% for action, options in batchactions %}
                            <option value="{{ action }}">{{ options.label }}</option>
                        {% endfor %}
                    </select>

                    <label>
                        <input type="checkbox" name="all_elements"/>
                        {% trans from 'SonataAdminBundle' %}all_elements{% endtrans %}
                    </label>

                    <input type="submit" class="btn primary" value="{% trans from 'SonataAdminBundle' %}btn_batch{% endtrans %}" />
                </div>
            {% endif %}


    </form>

  {% else %}
        <p class="notice">
          {% trans from 'SonataAdminBundle' %}no_result{% endtrans %}
        </p>
  {% endif %}




<script>
$(document).ready(function(){
		$('ol.sortable').nestedSortable({
			disableNesting: 'no-nest',
			forcePlaceholderSize: true,
			handle: 'div',
			helper:	'clone',
			items: 'li',
			//maxLevels: 3,
			opacity: .6,
			placeholder: 'placeholder',
			revert: 250,
			tabSize: 25,
			tolerance: 'pointer',
			toleranceElement: '> div',

            update: function(event, ui) {

             $('#alertmsgajaxtxt').html ('Сохранение изменений');
             $('#alertmsgajax').show('slow');
              var curItem = ui.item;
              var parentItem = curItem.parent('ol').parent('li');
              var prevItem = curItem.prev ('li');
              var itemId = curItem.attr ('id').substr (5);
              var parentItemId = parentItem.length ?  parentItem.attr ('id').substr (5) : 0;
              var  prevItemId = prevItem.length ?  prevItem.attr ('id').substr (5) : 0;




                var urlTpl = '{{ admin.generateUrl('chpos', { 'id': '_id_', 'parent': '_parent_', 'after': '_after_'}) }}';

                url = urlTpl.replace ('_id_', itemId).replace ('_parent_',parentItemId).replace ('_after_',prevItemId);

               // alert (url);


                 $.get(url, function(data) {
                  $('#alertmsgajaxtxt').html(data);
                    if (data.result == 1)
                    {
                        $('#alertmsgajaxtxt').html ('Изменения сохранены');
                        $('#alertmsgajax').hide (2500);
                    }
                    else
                    {
                        $('#alertmsgajaxtxt').hide();
                        $('#alertmsgajax').addClass('error').removeClass ('warning').html ('Ошибка! '+ data.message );
                    }

                });

                }

		});

});

</script>

{% endblock list_table %}